<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Web Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">User Web Application</a>
    </nav>
    <main role="main" class="container">
        <div class="info">
            <h3 th:text="${title}?:'Page Not Found'"></h3>
            <p th:text="${message}"></p>
            <p><a href="javascript:history.back()">Back</a></p>
        </div>
    </main>
</body>
</html>