<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="row">

        <div th:replace="fragments/header :: sidebar"></div>

        <main role="main" class="container">
            <div class="alert alert-danger mt-5">
                <h3 th:if="${status == 403}">Page Not Found</h3>
                <h3 th:if="${status == 404}">Page Not Found</h3>
                <h3 th:if="${status == 500}">Server Error</h3>
                <h3 th:if="${customError}" th:text="${title}"></h3>
                <p th:if="${customError}" th:text="${message}"></p>
            </div>
            <p><a class="btn btn-s btn-primary" th:href="@{/}">Return</a></p>
        </main>

    </div>
</div>

</body>
</html>