<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<script>
    function toggleProperties(el) {
        //toggle properties panel
        var propContainer = el.parentElement.parentElement.nextElementSibling.nextElementSibling;
        if (propContainer.style.display === '') {
            propContainer.style.display = 'none';
            el.classList.remove("open");
        } else {
            propContainer.style.display = '';
            el.classList.add("open");
        }
    }

    function toggleAll() {
        var els = document.querySelectorAll('.row-handler');
        els.forEach(el => toggleProperties(el))
    }
</script>

<div th:replace="fragments/header :: navbar"></div>

<div class="container-fluid">
    <div class="row">

        <div th:replace="fragments/header :: sidebar"></div>

        <main role="main" class="container">

            <div class="d-flex align-items-center p-0 my-3">
                <div class="d-flex align-items-center p-2 pr-3 mr-3 text-white-50 bg-purple rounded box-shadow">
                    <div class="user-avatar large blue ml-1 mr-2 rounded" th:text="${user.username.substring(0,1).toUpperCase()}">J</div>
                    <div class="lh-100">
                        <h6 class="mb-0 text-white font-weight-light">Welcome <strong class="username" th:text="${user.username}"></strong></h6>
                    </div>
                </div>
                <nav class="flex-grow-1" aria-label="breadcrumb">
                    <ol th:if="${itemHolder}" class="breadcrumb mb-0 bg-white">
                        <li class="breadcrumb-item"><a th:href="@{/users}">Users</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${itemHolder}"></li>
                    </ol>
                    <ol th:unless="${itemHolder}" class="breadcrumb mb-0 bg-white">
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
            </div>

            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0 font-weight-normal">
                    Listing
                    <b th:if="${itemHolder}" th:text="${itemHolder}+'\'s'"></b>
                    <span th:unless="${itemHolder}">your</span>
                    items: <b th:text="''+${items.size()+''}"></b>
                    <small class="float-right text-right mb-2">
                        <a href="javascript:void(0)" onclick="toggleAll()">Toggle all...</a>
                    </small>
                </h6>
                <div class="media text-muted pt-3 border-bottom" th:each="item : ${items}">
                    <div class="user-avatar blue mr-2 rounded" th:text="${item.quantity}"></div>
                    <p class="media-body pb-3 mb-0 small">
                            <span class="float-right text-gray-dark">
                                Properties: <b th:text="${item.properties.size()}"></b>
                                <svg onclick="toggleProperties(this)" class="bi bi-caret-right-fill row-handler" width="1em" height="1em"
                                     viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                                </svg>
                            </span>
                        <strong class="d-block text-gray-dark" th:text="${item.name}"></strong>
                        Game: <span th:text="${item.game}"></span>,
                        Expires @ <span th:text="${item.expirationDate}"></span>
                    </p>
                    <div class="flex-break"></div>
                    <div class="w-100 properties-table" style="display: none">
                        <div class="alert alert-info" th:unless="${item.properties.size()}">This item has no properties</div>
                        <p class="media-body p-1 ml-3 mb-0 small border-top" th:each="prop : ${item.properties}">
                            <b th:text="${'#' + prop.name}"></b> : <span th:text="${prop.value}"></span>
                        </p>
                    </div>
                </div>
            </div>

        </main>


    </div>
</div>

</body>
</html>